.twitter-class{
    bottom: 0px;
    height: 100%;
    left: 0px;
    opacity: 0;
    position: relative;;
    right: 0px;
    top: 0px;
    width: 100%;
    z-index: -1;
    background-color: rgb(45, 32, 155);
}