 .twitter-icon-header{
  margin-top:20px;
   text-align: center;
}
.twitter-icon{
 color:rgb(29,161,242) ;
   font-size: 40px;
}
.sidebarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-right: 3rem;
  }
  
  .sidebarOption:hover {
    background-color: #e8f5fe;
    border-radius: 30px;
    color:rgb(29,161,242) ;
    transition: color 100ms ease-out;
  }
  
  .sidebarOption > .MuiSvgIcon-root {
    padding: 20px;
  }
  
  .sidebarOption > h2 {
    font-weight: 900;
    font-size: 20px;
    margin-right: 20px;
    padding: 28px;
    
  }
  
  .sidebarOption--active {
    color: rgb(29,161,242) ;
  }
  .sidebar {
    border-right: 1px solid rgb(29,161,242) ;
    flex: 0.3;
    /* min-width: 250px; */
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
     background-color: rgb(255, 255, 255);
  }
  .sidebar aside{
    background-color: rgb(255, 255, 255);
      text-align: center;
      position: relative;
      height: 100vh;
      border-right: 1px solid rgba(29, 160, 242, 0.671) ;
      left: 18.4%;
  }

  .sidebar .ant-layout-sider-children span{
font-size: 25px;
padding: 10px;
font-weight: 900 !important;
  }

 
  .sidebar__twitterIcon {
    color: rgb(29,161,242) ;
    font-size: 60px !important;
    margin-left: 50%;
    margin-bottom: 20px;
    
  }
  
  .sidebar__tweet {
    background-color: rgb(29,161,242)  !important;
    border: none !important;
    color: white !important;
    font-weight: 500 !important;
    text-transform: inherit !important;
    border-radius: 25px !important;
    height: 70px !important;
    margin-top: 20px !important;
    margin-left: 10px;
  }

  /* @media (max-width: 440px){
  
   .sidebar__tweet{
background-color: saddlebrown;

   }
  
.sidebar .ant-layout-sider-children{
    position: fixed;
    left: 0;
   
}
} */
